body {
  font-family: "Sans";
  font-size: 14px;
  color: #252526;
  background-color: #E6E6E6;
}

input {
  border-radius: 5px;
  padding: 7px;
  width: 300px;
}

input[type=submit] {
  background-color: #B0C4DE;
  padding: 5px 10px;
  border-radius: 5px;
  border: 0px;
  margin: 10px;
}

select {
  padding: 3px;
  margin: 0;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  -moz-box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  box-shadow: 0 3px 0 #ccc, 0 -1px #fff inset;
  background: #f8f8f8;
  color: #888;
  border: none;
  outline: none;
  display: inline-block;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  margin: 10px;
}

button {
  font-family: Arial;
  background-color: #C0D7FB;
  border: none;
  padding: 1px 4px;
  cursor: pointer;
  cursor: hand;
}
button:hover {
  background-color: #cfd8dc;
}

