db:
  build: ./db
  ports:
    - "33060:3306"

api:
  build: ./API
  ports:
    - "8080:8080"
  volumes:
    - ./API:/api
  command: /bin/sh /api/start.sh
  links:
    - db

client:
  build: ./client
  ports:
    - "44200:4200"
  volumes:
    - ./client:/client
  command: /bin/sh /client/start.sh
  links:
    - api