<nav>
  <a routerLink="/books" routerLinkActive="active">Books</a>
  <a routerLink="/search" routerLinkActive="active">Search</a>
  <a routerLink="/shop" routerLinkActive="active">Shops</a>
  <a routerLink="/books/new" routerLinkActive="active">New Book</a>
</nav>

<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand">{{title}}</a>
    </div>
  </div>
</nav>


<div class="allStaticContent">
  <div>
    <categories></categories>
  </div>
</div>
<router-outlet></router-outlet>
